@import url(./reset.css);
@import url(./fonts.css);

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --fs-normal: clamp(0.8125rem, 0.7242647058823529rem + 0.4411764705882353vw, 1rem);
    --fs-large: clamp(1rem, -0.5000000000000002rem + 6.000000000000001vw, 1.625rem);
    --mx-width: clamp(310px, 90%, 1200px);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
}

main {
    max-width: var(--mx-width);
}

.reading-article {
    overflow: hidden;
    margin-inline: auto;
    background-color: white;
    border-radius: .5rem;
    /* position: relative; */
    box-shadow: 0px 8px 40px -20px var(--very-dark-grayish-blue);

    max-width: 1000px;
}

.reading-article__picture {
    overflow: hidden;
    position: relative;
}

.article-info {
    padding: 2.5em 2.2em 1.2em 2.2em;
    position: relative;
}

.reading-article__title {
    color: var(--very-dark-grayish-blue);
    font-size: var(--fs-large);
}

.reading-article__paragraph {
    color: var(--desaturated-dark-blue);
    font-weight: 500;
    margin-top: 1rem;
    width: 31ch;
    font-size: var(--fs-normal);
    margin-bottom: 1.5rem;
}

.author-info {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    /* outline: 1px solid red; */


    /* padding: 1em 39px; */


    & .author-info__picture {
        width: 2.625rem;
        border-radius: 50%;
    }

    & .author-info__name {
        color: var(--very-dark-grayish-blue);
        font-weight: 700;
        font-size: var(--fs-normal);
    }

    & .reading-article__posted-date {
        font-size: 12px;
        color: var(--grayish-blue);
    }
}

.share-btn {
    position: absolute;
    z-index: 999;
    bottom: 6%;
    right: 10%;
    border-radius: 50%;
    background: no-repeat url('/images/icon-share.svg') center;
    background-color: var(--light-grayish-blue);
    width: 32px;
    height: 32px;
}

.social-media {
    display: flex;
    background-color: var(--very-dark-grayish-blue);
    padding: 1.5em 3em;
    align-items: center;
    z-index: 995;
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
    gap: 1.2em;
}

.hidden {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.footer {
    margin-top: 2rem;
}

@media (width >=75em) {
    .reading-article {
        display: flex;
        max-height: 375px;
    }

    .reading-article__title {
        width: 26ch;
    }

    .reading-article__picture img {
        min-height: 100%;
    }

    .reading-article__paragraph {
        width: 45ch;
    }

    .article-info {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 2em;
    }

    .author-info {
        margin-top: auto;
    }

    .share-btn {
        right: 4rem;
        bottom: 2rem;
        width: 36px;
        height: 36px;
    }

    .social-media {
        border-radius: .5rem;
        position: absolute;
        right: 21%;
        top: 55%;
        z-index: 999;
    }

    .triangle {
        position: absolute;
        bottom: -50%;
        right: 50%;
        background-color: inherit;
        width: 32px;
        height: 32px;
        clip-path: polygon(100% 0, 0 0, 50% 54%);
    }
}